/* Custom properties */

:root {
  --spacer: 1rem;

  --clr-neutral-900: #171717;
  --clr-neutral-700: #333;
  --clr-neutral-300: #cfcfcf;
  --clr-neutral-100: #fff;
  --clr-accent-400: #59e89c;
  --clr-accent-500: #00986a;

  --ff-primary: 'PT Sans', sans-serif;

  --fw-700: 700;
  --fw-400: 400;

  --box-shadow: 0 0.25em 1.5em rgba(0, 0, 0, 0.15);
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*ul {*/
ul[class],  /* <--- Kevin's approach */
ol[class] {
  list-style-type: none;
  padding: 0;
  /*margin: 0; !* Added by Kevin *!*/
}

img {
  display: block;
  max-width: 100%; /* Added by Kevin */
  height: auto; /* Added by Kevin */
}

/* Utility classes */
.flow-content > * + * {
  margin-top: 1.25rem;
}
.flow-content__large > * + * {
  margin-top: 2.5rem;
}

.container {
  /* I don't understand why we need horizontal spacing for .container. it may as well just add into max-width */
  padding: 0 var(--spacer); /* Added by Kevin. Mobile first*/

  /*max-width: 1144px;*/
  max-width: 70rem; /* 70rem === 1120px */
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column; /* Added by Kevin. So mobile layout can use it */
  gap: calc(var(--spacer) * 3); /* Added by Kevin. This is the vertical gap */
}
@media (min-width: 40em) {
  .flex {
    flex-direction: row; /* Added by Kevin */
    gap: var(--spacer); /* Added by Kevin. This is the horizontal gap */
  }
}

/*.flex-gap {*/
/*  gap: 30px;*/
/*}*/
/*.flex-gap__large {*/
/*  gap: 60px;*/
/*}*/

.shadow {
  box-shadow: var(--box-shadow);
}

/* I personally will not create so many class name. I raterht keep my html super clean */
/*section:nth-of-type(2n) {*/
.bg-dark {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.text-accent {
  color: var(--clr-accent-400);
}

/* general styling */

body {
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-neutral-900);
  margin: 0;
}

h1 {
  font-weight: 400;
}

h1 span {
  font-weight: 700;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 1.125rem;
  color: inherit;
  padding: 0.75em 1.5em;
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
}

/* general styling */

section {
  /*padding: 8.125rem 9.063rem; !* 130px 145px*!
    you shouldn't give horizontal padding in section. Add max-widht and margin: 0 auto will automatically center the .container
    you don't want to add extra horizontal padding in case there is not enough space (e.g. tablet)
  */
  padding: 4.125rem 0; /* Added by Kevin. Mobile first design*/
}
@media (min-width: 40em) {
  section {
    padding: 8.125rem 0rem;
  }
}
/*section:nth-of-type(2n) {*/
/*  background-color: var(--clr-neutral-900);*/
/*  color: var(--clr-neutral-100);*/
/*}*/

/* individual sections */

/*.hero img {*/
/*  max-width: 495px;*/
/*  height: 100%;*/
/*}*/

/*.mastering h2 {*/
/*  color: var(--clr-accent-400);*/
/*}*/
.mastering img {
  height: 150px;
}

.join-now li::before {
  content: '';
  width: 66px;
  aspect-ratio: 1;
  background-color: var(--clr-accent-400);
  position: absolute;
  transform: translate(-0.5rem, -0.5rem);
  z-index: -1;
}

/*.card {*/
/*  padding-top: 8px;*/
/*  padding-left: 8px;*/

/*  position: relative;*/
/*}*/
/*.card::before {*/
/*  position: absolute;*/
/*  content: '';*/
/*  width: 66px;*/
/*  aspect-ratio: 1;*/
/*  left: 0;*/
/*  top: 0;*/
/*  background-color: var(--clr-accent-400);*/
/*  z-index: -1;*/
/*}*/

.cta {
  background-image: url('assets/cta-bg.jpg');
  background-size: cover;
  text-align: center;
}
/*.cta .container {*/
/*  max-width: 33.75rem; !*540px; The reason I set this is from the design, there is two lines in the <p> so I thought it's smaller.... *!*/
/*  text-align: center;*/
/*}*/
